## Jobs
```json
    /$$$$$         /$$
   |__  $$        | $$
      | $$ /$$$$$$| $$$$$$$  /$$$$$$$
      | $$/$$__  $| $$__  $$/$$_____/
 /$$  | $| $$  \ $| $$  \ $|  $$$$$$
| $$  | $| $$  | $| $$  | $$\____  $$
|  $$$$$$|  $$$$$$| $$$$$$$//$$$$$$$/
 \______/ \______/|_______/|_______/
 ```

The Jobs service is a basic execution service that allows you to run applications registered with the Apps service across multiple, distributed, heterogeneous systems through a common REST interface. The service manages all aspects of execution and job management from data staging, job submission, monitoring, output archiving, event logging, sharing, and notifications. The Jobs service also provides a persistent reference to your job's output data and a mechanism for sharing all aspects of your job with others. Each feature will be described in more detail below.

<aside class="notice">If you are not familiar with batch computing and why we refer to a simulation run as a "job," we wrote a good blog post on the topic, <a href="http://agaveapi.co/what-is-a-job2/" title="What is a Job">What is a "Job"</a> that will help give you some context and background on the subject and terminology.</aside>
