## Status Codes

The API uses the following response status codes, as defined in the <a href="https://www.ietf.org/rfc/rfc2616.txt" target="_blank">RFC 2616</a> on successful and unsuccessful requests.

#### Success Codes
<%= partial "includes/tables/success-codes" %>


#### Error Codes
<%= partial "includes/tables/error-codes" %>
